@font-face {
    font-family: Open-sans-bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: Open-sans-semiBold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: Open-sans-medium;
    src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: Open-sans-regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

.textDark{
   color: #272830;

}
.textlightGreen{
    color: #41B8B6;
}

.bold {
    font-family: Open-sans-bold !important;
}

.semiBold {
    font-family: Open-sans-semiBold !important;
}

.medium {
    font-family: Open-sans-medium !important;
}

.regular {
    font-family: Open-sans-regular !important;
}

#chart1 *,
#chart2 * {
    font-family: Open-sans-regular;
}

:root {
    
    --primary-bg--color: #37CBC6;
    --primary-text--color: #41B8B6;
    --gray-primary-text--color: #5F5F5F;
    --gray-bg-input--color: #E3E8E8;

}

.textLight {
    color: #5F5F5F;
}

.fs-32 {
    font-size: 32px;
}

.fs-24 {
    font-size: 24px;
}

.fs-22 {
    font-size: 22px;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-11 {
    font-size: 11px;
}
.textred{
    color: #EC9292;
}
/* -------------Dashboard------------- */
/* -------------Dashboard------------- */

.mainContainer {
    padding-left: 100px !important;
    padding-right: 100px !important;
    min-height: 100%;
}


.nav-search {
    width: 40% !important;
}

.navbar-main {
    border-bottom: 2px solid #41B8B6;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.logo-content {
    font-size: 22px !important;
    font-weight: 600;
}

.nav-profile {
    font-size: 14px !important;
    font-weight: 600;
}

input:focus {
    box-shadow: none !important;
    outline: 0;
    border-color: #ced4da !important;
}

.tt-cta-box {
    padding: 40px 35px;
    height: 112px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}

.tt-cta-box p {
    font-weight: 500;
}

.tt-dev-resources {
    padding: 24px;
    height: 194px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}

.tt-dev-resources h2 {
    font-size: 57px;
}


.tt-resources-inner {
    padding: 14px 24px;
    border-bottom: 1px solid #D9D9D9;
}

.tt-left-chart {
    border-radius: 4.889px;
    box-shadow: 0px 0px 3.667px 0px rgba(0, 0, 0, 0.12), 0px 1.833px 3.667px 0px rgba(0, 0, 0, 0.14);
    padding: 24px;
}


/* -------------Dashboard------------- */
/* -------------Dashboard------------- */
.wrapper {
    background-color: #F6F8FB;
    min-height: 100%;
}

html,
body {
    height: 100%;
}

.tt-config-setting {
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}

.tt-config-setting1 {
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}

.bg-input {
    background-color: #F3F3F3 !important;
}

.tt-config-btn {
    font-size: 16px !important;
    background-color: #41B8B6 !important;
}

input::placeholder {
    font-size: 12px;
    font-family: Open-sans-regular;
    color: #8D8D8D;
}
input{
    font-size: 12px !important;
    font-family: Open-sans-regular !important;

}
.tt-radius-border{
    border-radius: 8px !important;
}
.form-check-input:checked {
    background-color: #37CBC6 !important;
    border-color: #37CBC6 !important;
}

.tt-config-switcher {
    width: 40px !important;
    height: 20px !important;
}

.tt-config-footer {
    justify-content: end;
}

.tt-config-danger {
    background-color: #F7D4D4 !important;
    font-size: 14px !important;
}

.tt-admin-table {
    border-radius: 4px !important;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14) !important;
}

.bg-lightGreen {
    background-color: #41B8B6 !important;
    border-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.bg-lightInput {
    border-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

th,
td {
    vertical-align: middle;
}

.tt-manag-table {
    white-space: nowrap;
}

.tt-admin-tableInner input {
    width: 164px !important;
}

.tt-config-switcher:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.form-switch .form-check-input:checked {
    border-color: transparent !important;

}

.form-switch .form-check-input:focus {
    background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e";
}

.form-switch .form-check-input {
    cursor: pointer;
    background-image: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e";
}

.tt-config-btn {
    padding: 14px 42px !important;
}

button:disabled {
    background-color: #F6F8FB !important;
    color: #D9D9D9 !important;
    border-radius: 8px;
    border: 0 !important;
}

.tt-config-btn-disabled:disabled {
    background-color: #fff !important;
}

.cursor-pointer {
    cursor: pointer;
}
.tt-config-setting1{
    padding: 32px;
}
.tt-admin-canvas {
    background-color: #F6F8FB !important;
    width: 520px !important;
    border-radius:  14px 0 0 14px;
    /* border-top-left-radius: 14px; */
    /* border-bottom-left-radius: 14px; */
}
.tt-config-danger:active{
    border: 0;
}
.tt-admin-canvasInner {
    padding: 32px;
    height: 100%;

}

.tt-canvas-top {
    height: 85%;
}
.admin-canvas-btn{
    background-color: #fff !important;
    padding: 10px !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
}
.tt-canvas-main {
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}
.tt-dashboard-right{
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}
.tt-table-responsive{
    white-space: nowrap;
}



.gray-color {
    color: var(--gray-primary-text--color);
}

.admini-main {
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
}

.admin-acces-bb {
    border-bottom: 1px solid #D9D9D9;
}

.admini-main-bg {
    border-radius: 8px;
    background-color: #F6F8FB;
} 
  .scan-text {
    opacity: 1;
    background-color: rgba(235, 235, 235, 0.7);
  }
 
  /* ---------------User Statistics--------------- */
  /* ---------------User Statistics--------------- */
  .tt-users{
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
    height: 128px;
  }
  .tt-user-minus{
    width: 24px;
    height: 24px;
    background-color: #EEEEEE;
    border-radius: 4px;
  }
  .tt-user-plus{
    width: 24px;
    height: 24px;
    background-color:#55C3C0;
    ;
    border-radius: 4px;

  }
  .tt-statis-table{
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1.5px 3px 0px rgba(0, 0, 0, 0.14);
  }
  /* ---------------User Statistics--------------- */
  /* ---------------User Statistics--------------- */
  .tt-config-button{
    width: 258px !important;
  }
  .btn-close:focus{
    box-shadow: none !important;
    outline: 0;
  }


  /* Side bar css */


  .side-bar-header {
    padding: 14px 30px;

}

.closebtn {
    padding: 24px !important;
}
.span-close-nav{
    font-size:30px;
    cursor:pointer;
    line-height: 0;

}
.sideBarLogo {
    padding: 8px 14px;
}

.togglerMenu {
    padding-right: 15px;
}

.search-div-sidbar {
    padding: 32px;
}

.Pf-search-div-sidbar {
    padding: 14px 0px;
}

.sidebarList li {
    list-style: none;
    padding: 14px 52px;
}

.sidebarList li:hover {
    background-color: #f4f4f4;
}

.sidebarList li a {
    text-decoration: none;
}

.sideBarLogout {
    padding: 18px 52px;

}

.sideBar {
    width: 327px !important;
}

.sideBarSerach {
    border-radius: 99px !important;
    border: 1px solid #D9D9D9 !important;
}

.sideBarSerachIcon {
    border-radius: 99px !important;
    border: 1px solid #D9D9D9 !important;
    border-right: none;
}

.sideBarSerachInput {
    border-radius: 99px !important;
    border: 1px solid #D9D9D9 !important;
    border-left: none;
}



/* Profile Dropdown css */

.pf-dropdownBtn.show {
    background-color: #f4f4f4;
    border: 0px;
}

.pf-dropdownBtn:active {

    border: 0px !important;
}
.pf-dropdownBtn{
    border: 0px !important;
}
.drp-menu {
    width: 427px;
    position: absolute;
    left: auto !important;
    right: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 3.667px 0px rgba(0, 0, 0, 0.12), 0px 1.833px 3.667px 0px rgba(0, 0, 0, 0.14);
}

.pf-input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--primary-p-3, #41B8B6);
}

.pf-sideBarSerachIcon {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    border-right: none;
}

.pf-sideBarSerach {
    border-radius: 8px;
    border: 1px solid #D9D9D9 !important;
    border-left: none;
}

.pf-sideBarSerachInput {
    border-radius: 99px !important;
    border: 1px solid #D9D9D9 !important;
    border-left: none;
}

.pf-input-padding {
    padding: 14px;
}

.pf-pagger {
    padding: 14px 0px;
}

.pf-bg-primary {
    background: var(--primary-p-4, #C6EBEA);

}

.pf-pagger-div:hover {
    background-color: #f4f4f4;
}

.pf-logout-bg:hover{
    background-color: #fcf1f1;
}
.pf-logout-bg:hover .pf-logout{
    color: red !important;
}
.padd-32 {
    padding: 32px;
}

.input-height {
    height: 44px;
}

.lightprimary {
    border: 1px solid #41B8B6 !important;
}

.copyimg-height {
    padding: 10px;
    background-color: #F6F8FB;
}

.bg-lightgrey {
    height: 364px;
    background-color: #F6F8FB;
}
