@font-face {
    font-family: Open-sans-bold;
    src: url('/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family:Open-sans-semiBold;
    src: url('/assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: Open-sans-medium;
    src: url('/assets/fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: Open-sans-regular;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}


body {
    font-family: Open-sans-regular;

}
.bold {
    font-family: Open-sans-bold;
}

.semiBold {
    font-family:Open-sans-semiBold;
}

.medium {
    font-family: Open-sans-medium;
}

.regular {
    font-family: Open-sans-regular;
}

:root {
    --primary-bg--color: #37CBC6;
    --primary-text--color: #41B8B6;
    --gray-primary-text--color: #5F5F5F;
    --white-headi--color: #fff;
    --gray-bg-input--color: #E3E8E8;
    --neutral-black--headi: #000;

}
.fs-32{
    font-size: 32px;
}
.fs-24{
    font-size: 24px;
}.fs-22{
    font-size: 22px;
}
.fs-20{
    font-size: 20px;
}.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}.fs-12{
    font-size: 12px;
}.fs-11{
    font-size: 11px;
}